# vim: sw=4 ts=4
[user]
    name = arrack
    email = arrack@pixnet.tw
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[push]
    default = current
[alias]
    ci = commit
    st = status
    co = checkout
    br = branch
    lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ad)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold red)%d%C(reset)' --abbrev-commit --date=iso
    lg1 = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ad)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold red)%d%C(reset)' --abbrev-commit --date=iso
[core]
    excludesfile = ~/.gitignore

[pager]
    diff = diff-highlight
    #log = diff-highlight | less
    show = diff-highlight

[url "git://"]
    insteadOf = http://
    insteadOf = https://
